body {
    background-color:white;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container{
    outline: 1px solid #000;
    background-color:gray;
    ;
}

form {
    padding: 10px;
}

input, select, textarea{
    background-color: #ccc;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    background-color: snow;
}
